/*! RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*? UTILS */

.container{
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}


.flex{
    display: flex;
}


/* ROW */
.row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: stretch;
}

.row > * {
    max-width: 100%;
}

/* COLONNE */
.row > [class^='col']{
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
}

.row > .col{
    flex-grow: 1;
}

/* GRIGLIA */
.row > .col-12{
    flex-basis: 100%;
    max-width: 100%;
}

.row > .col-11{
    flex-basis: calc(100% / 12 * 11);
    max-width: calc(100% / 12 * 11);
}

.row > .col-10{
    flex-basis: calc(100% / 12 * 10);
    max-width: calc(100% / 12 * 10);
}

.row > .col-9{
    flex-basis: calc(100% / 12 * 9);
    max-width: calc(100% / 12 * 9);
}

.row > .col-8{
    flex-basis: calc(100% / 12 * 8);
    max-width: calc(100% / 12 * 8);
}

.row > .col-7{
    flex-basis: calc(100% / 12 * 7);
    max-width: calc(100% / 12 * 7);
}

.row > .col-6{
    flex-basis: calc(100% / 12 * 6);
    max-width: calc(100% / 12 * 6);
}

.row > .col-5{
    flex-basis: calc(100% / 12 * 5);
    max-width: calc(100% / 12 * 5);
}

.row > .col-4{
    flex-basis: calc(100% / 12 * 4);
    max-width: calc(100% / 12 * 4);
}

.row > .col-3{
    flex-basis: calc(100% / 12 * 3);
    max-width: calc(100% / 12 * 3);
}

.row > .col-2{
    flex-basis: calc(100% / 12 * 2);
    max-width: calc(100% / 12 * 2);
}

.row > .col-1{
    flex-basis: calc(100% / 12 * 1);
    max-width: calc(100% / 12 * 1);
}

/* OFFSET */

.offset-12{
    margin-left: 100%;
}

.offset-11{
    margin-left: calc(100% / 12 * 11);
}

.offset-10{
    margin-left: calc(100% / 12 * 10);
}

.offset-9{
    margin-left: calc(100% / 12 * 9);
}

.offset-8{
    margin-left: calc(100% / 12 * 8);
}

.offset-7{
    margin-left: calc(100% / 12 * 7);
}

.offset-6{
    margin-left: calc(100% / 12 * 6);
}

.offset-5{
    margin-left: calc(100% / 12 * 5);
}

.offset-4{
    margin-left: calc(100% / 12 * 4);
}

.offset-3{
    margin-left: calc(100% / 12 * 3);
}

.offset-2{
    margin-left: calc(100% / 12 * 2);
}

.offset-1{
    margin-left: calc(100% / 12);
}

.offset-0{
    margin-left: 0;
}


/*! MEDIA QUERY MOBILE FIRST
    Breackpoint

    xs  : < 576px;
    sm   : > 576px;
    m   : > 768px;
    l   : > 992px;
    xl  : > 1200px;
    xxl : > 1400px;

*******************/

/* SMALL VIEWPORTS */
@media screen and (min-width: 576px){
    .row > .col-sm-12{
        flex-basis: 100%;
        max-width: 100%;
    }
    
    .row > .col-sm-11{
        flex-basis: calc(100% / 12 * 11);
        max-width: calc(100% / 12 * 11);
    }
    
    .row > .col-sm-10{
        flex-basis: calc(100% / 12 * 10);
        max-width: calc(100% / 12 * 10);
    }
    
    .row > .col-sm-9{
        flex-basis: calc(100% / 12 * 9);
        max-width: calc(100% / 12 * 9);
    }
    
    .row > .col-sm-8{
        flex-basis: calc(100% / 12 * 8);
        max-width: calc(100% / 12 * 8);
    }
    
    .row > .col-sm-7{
        flex-basis: calc(100% / 12 * 7);
        max-width: calc(100% / 12 * 7);
    }
    
    .row > .col-sm-6{
        flex-basis: calc(100% / 12 * 6);
        max-width: calc(100% / 12 * 6);
    }
    
    .row > .col-sm-5{
        flex-basis: calc(100% / 12 * 5);
        max-width: calc(100% / 12 * 5);
    }
    
    .row > .col-sm-4{
        flex-basis: calc(100% / 12 * 4);
        max-width: calc(100% / 12 * 4);
    }
    
    .row > .col-sm-3{
        flex-basis: calc(100% / 12 * 3);
        max-width: calc(100% / 12 * 3);
    }
    
    .row > .col-sm-2{
        flex-basis: calc(100% / 12 * 2);
        max-width: calc(100% / 12 * 2);
    }
    
    .row > .col-sm-1{
        flex-basis: calc(100% / 12 * 1);
        max-width: calc(100% / 12 * 1);
    }
}